<% provide(:title, "MyPage:edit") %>




<div class="edit-page-section">
  <div class="profile">
    <div class="profile-img">
      <% if @user.image_name == "default_user.jpg"%>
        <img src="/assets/catman">
      <% else %>
        <img src="<%= "/user_images/#{@user.image_name}"%>" >
      <% end %>
    <%= form_for(@user, url:{controller: 'users',action: 'update', id: @user.id}) do |f| %>
      <div class="img-btn">画像変更
      <%= f.file_field :image_name %>
      </div>
    </div>
    <p>name： <%= @user.name %></p>
    <p>フォロー：３ フォロワー：４</p>
    <div class="profile-coment">
      <% @user.errors.full_messages.each do |message| %>
      <p class="edit-error">
      <%= message %>
      </p>
      <% end %>
      <% if @user.comment.nil? %>
      <%= f.text_area(:comment, class: "profile-comment-text", placeholder: "プロフィールコメント", size:"40x15") %>
      <% else %>
      <%= f.text_area(:comment, class: "profile-comment-text", placeholder: :comment, size:"40x15") %>
      <% end %>
    </div>
    <%= f.submit(class: "edit-btn") %>
    <% end %>
  </div>
  
</div>


