<% provide(:title, "MyPage") %>


<div class="my-page-section">
  <div class="profile">
    <div class="profile-img">
      <% if @user.image_name == "default_user.jpg"%>
        <img src="/assets/catman">
      <% else %>
        <img src="<%= "/user_images/#{@user.image_name}"%>" >
      <% end %>
    </div>
    <p><%= @user.name %></p>
    <div>
      <p>フォロー数: <%= @user.followings.count %> フォロワー数: <%= @user.followers.count %></p>
      <%= link_to show_our_path do %>
        <button class="follow_viewer">一覧</button>
      <% end %>
    </div>
    <div class="profile-coment">
      <% if @user.comment == nil || @user.comment == "" %>
        <span>プロフィールコメント<span>
      <% else %>
        <p class="profile-comment-text">
          <%= @user.comment %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="event-display">
    <div class="event-container">
      <ul class="tab-menu">
        <li><a class="active" data-id="event">フォロー開催中</a></li>
        <li><a data-id="schedule">スケジュール</a></li>
      </ul>
      <section class="content active" id="event">
        開催中のイベントはありません
      </section>
      <section class="content" id="schedule">
        登録されているスケジュールはありません
      </section>
    </div>
  </div>
</div>

<script>
// タブメニュー
$(document).on('turbolinks:load', function() { 
  const menuItems = document.querySelectorAll('.tab-menu li a');
  const contents = document.querySelectorAll('.content');

  menuItems.forEach(clickedItem => {
    clickedItem.addEventListener('click', e => {
      e.preventDefault();

      menuItems.forEach(item => {
        item.classList.remove('active');
      });
      clickedItem.classList.add('active');

      contents.forEach(content => {
        content.classList.remove('active');
      });

      document.getElementById(clickedItem.dataset.id).classList.add('active');
    });
  });
});

</script>
