<% provide(:title, "MyPage") %>


<div class="my-page-section">
  <div class="profile">
    <div class="profile-img">
      <% if @user.image_name.size == 0 %>
        <%= image_tag "/assets/catman" %>
      <% else %>
        <%= image_tag @user.image_name.url %>
      <% end %>
    </div>
    <p><%= @user.name %></p>
    <div >
      <p>フォロー数: <%= @user.followings.count %> フォロワー数: <%= @user.followers.count %></p>
      <%= link_to show_our_path do %>
        <button class="follow_viewer">一覧</button>
      <% end %>
    </div>
    <div class="profile-coment">
      <% if @user.comment == nil || @user.comment == "" %>
        <span>プロフィールコメント<span>
      <% else %>
        <p class="profile-comment-text">
          <%= @user.comment %>
        </p>
      <% end %>
    </div>
  </div>


  <div class="event-display">
    <div class="event-container">
      <ul class="tab-menu">
        <li><a class="active" data-id="event">フォロー開催中</a></li>
        <li><a data-id="schedule">スケジュール</a></li>
      </ul>
      <section class="content active" id="event">
        <% if @f_event_pubs.count == 0 %>
          開催中のイベントはありません
        <% else %>
          <% @f_event_pubs.each do |e|%>
            <div class="follower_view">
              <div class="follower">
                <%= link_to "/events/#{e.id}" do %>
                  <div class="title_date">
                    <p><%= e.event_title %></p>
                    <p class="follower-date"><%= e.date %></p>
                  </div>
                  <div class="follower-plofile">
                    <% if e.user.image_name.size == 0 %>
                      <%= image_tag "/assets/catman" %>
                    <% else %>
                      <p><%= e.user.image_name %></p>
                    <% end %>
                    <p class="follower-name"><%= e.user.name %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </section>
      <section class="content" id="schedule">
        <% if @events.count == 0 && @schedule_list.count == 0 %>
          登録されているスケジュールはありません
        <% else %>
          <% @events_pub.each do |e| %>
            <div class="follower_view">
              <div class="follower self-event">
                <%= link_to "/events/#{e.id}" do %>
                  <div class="title_date">
                    <p><%= e.event_title %></p>
                    <p class="follower-date"><%= e.date %></p>
                  </div>
                  <div class="follower-plofile">
                    <% if e.user.image_name.size == 0 %>
                      <%= image_tag "/assets/catman" %>
                    <% else %>
                      <p><%= e.user.image_name %></p>
                    <% end %>
                    <p class="follower-name"><%= e.user.name %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% @events_notpub.each do |e| %>
            <div class="follower_view">
              <div class="follower self-stand-event">
                <%= link_to "/events/#{e.id}" do %>
                  <div class="title_date">
                    <p><%= e.event_title %></p>
                    <p class="follower-date"><%= e.date %></p>
                  </div>
                  <div class="follower-plofile">
                    <% if e.user.image_name.size == 0 %>
                      <%= image_tag "/assets/catman" %>
                    <% else %>
                      <p><%= e.user.image_name %></p>
                    <% end %>
                    <p class="follower-name"><%= e.user.name %></p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

          <% if @schedule_list.present? %>
            <% @schedule_list.each do |e| %>
              <div class="follower_view">
                <div class="follower">
                  <%= link_to "/events/#{e.id}" do %>
                    <div class="title_date">
                      <p><%= e.event_title %></p>
                      <p class="follower-date"><%= e.date %></p>
                    </div>
                    <div class="follower-plofile">
                      <% if e.user.image_name.size == 0 %>
                        <%= image_tag "/assets/catman" %>
                      <% else %>
                        <p><%= e.user.image_name %></p>
                      <% end %>
                      <p class="follower-name"><%= e.user.name %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </section>
    </div>
  </div>
</div>



<script>
// タブメニュー
$(document).on('turbolinks:load', function() { 
  const menuItems = document.querySelectorAll('.tab-menu li a');
  const contents = document.querySelectorAll('.content');

  menuItems.forEach(clickedItem => {
    clickedItem.addEventListener('click', e => {
      e.preventDefault();

      menuItems.forEach(item => {
        item.classList.remove('active');
      });
      clickedItem.classList.add('active');

      contents.forEach(content => {
        content.classList.remove('active');
      });

      document.getElementById(clickedItem.dataset.id).classList.add('active');
    });
  });
});

</script>
