<% provide(:title, "MyPage") %>


<div class="my-page-section">
  <div class="profile">
    <div class="profile-img">
      <% if @user.image_name.size == 0 %>
        <%= image_tag "/assets/catman" %>
      <% else %>
        <%= image_tag @user.image_name.url %>
      <% end %>
    </div>
    <p><%= @user.name %></p>
    <div >
      <p>フォロー数: <%= @user.followings.count %> フォロワー数: <%= @user.followers.count %></p>
    </div>
    <div class="profile-coment">
      <% if @user.comment == nil || @user.comment == "" %>
        <span>プロフィールコメント<span>
      <% else %>
        <p class="profile-comment-text">
          <%= @user.comment %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="event-display">
    <div class="event-container">
      <ul class="tab-menu">
        <%# <li><a class="active" data-id="event">フォロー開催中</a></li> %>
        <li><a data-id="schedule">開催イベント</a></li>
      </ul>
      <%# <section class="content active" id="event">
        開催中のイベントはありません
      </section> %>
      <section class="content active" id="schedule">
        <% if @user.events.count == 0 %>
          登録されているスケジュールはありません
        <% else %>
          <% @user.events.each do |e| %>
            <div class="follower_view">
              <div class="follower">
                <%= link_to "/events/#{e.id}" do %>
                  <p><%= e.event_title %></p>
                  <p><%= e.date %></p>
                <% end %>
            
              </div>
            </div>
            <% end %>
          <% end %>
      </section>
    </div>
  </div>
</div>

<%# <script>
// タブメニュー
$(document).on('turbolinks:load', function() { 
  const menuItems = document.querySelectorAll('.tab-menu li a');
  const contents = document.querySelectorAll('.content');

  menuItems.forEach(clickedItem => {
    clickedItem.addEventListener('click', e => {
      e.preventDefault();

      menuItems.forEach(item => {
        item.classList.remove('active');
      });
      clickedItem.classList.add('active');

      contents.forEach(content => {
        content.classList.remove('active');
      });

      document.getElementById(clickedItem.dataset.id).classList.add('active');
    });
  });
});

</script> %>
