<% provide(:title, "MyPage") %>


<div class="my-page-section">
  <div class="profile">
    <div class="profile-img">
      <% if @user.image_name.size == 0 %>
        <%= image_tag "/assets/catman" %>
      <% else %>
        <%= image_tag @user.image_name.url %>
      <% end %>
    </div>
    <p><%= @user.name %></p>
    <div>
      <p>フォロー数: <%= @user.followings.count %> フォロワー数: <%= @user.followers.count %></p>
      <%= link_to mypage_path,"data-turbolinks": false do %>
        <button class="follow_viewer" style="background-color:green;">戻る</button>
      <% end %>
    </div>
    <div class="profile-coment">
      <% if @user.comment == nil || @user.comment == "" %>
      <span>プロフィールコメント<span>
      <% else %>
      <p class="profile-comment-text">
        <%= @user.comment %>
      </p>
      <% end %>
    </div>
  </div>
  <div class="event-display">
    <div class="event-container">
      <ul class="tab-menu">
        <li><a class="active" data-id="follow">フォロー中</a></li>
        <li><a data-id="follower">フォロワー</a></li>
      </ul>
      <section class="content active" id="follow">
        <% if following.count == 0 %>
          フォロー中はいません
        <% else %>
          <% following.each do |user| %>
            <div class="follower_view">
              <% unless user == current_user %>
                <div class="follower">
                  <p><%= user.name %></p>
                
                    <%= render 'users/follow-button', user: user %>
             
                </div>
                <div class="follow-modal hidden">
                  <p><%= user.name %>さんのフォローを解除しますか？</p>
                  <%= link_to unfollow_path(user), method: :post, remote: true do %> 
                    <div class="unlock-btn">フォロー解除</div>
                  <% end %>
                  <div class="unlock-btn cancel">キャンセル</div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </section>
      <section class="content" id="follower">
        <% if followers.count == 0 %>
          フォロワーはいません
        <% else %>
          <% followers.each do |user| %>
            <div class="follower_view">
              <% unless user == current_user %>
                <div class="follower">
                  <p><%= user.name %></p>
                  
                    <%= render 'users/follow-button', user: user %>
                  
                </div>
                <div class="follow-modal hidden">
                  <p><%= user.name %>さんのフォローを解除しますか？</p>
                  <%= link_to unfollow_path(user), method: :post, remote: true do %> 
                    <div class="unlock-btn">フォロー解除</div>
                  <% end %>
                  <div class="unlock-btn cancel">キャンセル</div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>
</div>

<% @users.each do |user| %>
  <div style="background-color:green">
    <%= user.name %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", unfollow_path(user), method: :post, class:'btn btn-info', remote: true %>
    <% else %>
      <%= link_to "フォローする", follow_path(user), method: :post, class:'btn btn-default', remote: true  %>
    <% end %>
  </div>
<% end %>

<%= render 'relationships/follow_list' %>

<script>
  // タブメニュー

  $(document).on('turbolinks:load', function(){
    const menuItems = document.querySelectorAll('.tab-menu li a');
    const contents = document.querySelectorAll('.content');
    
    menuItems.forEach(clickedItem => {
      clickedItem.addEventListener('click', e => {
        e.preventDefault();

        menuItems.forEach(item => {
          item.classList.remove('active');
        });
        clickedItem.classList.add('active');


        contents.forEach(content => {
          content.classList.remove('active');
        });

        document.getElementById(clickedItem.dataset.id).classList.add('active');

      });
    });



  // フォロワーモーダル


    const follower_views = document.querySelectorAll('.follower_view');


    follower_views.forEach(function(f){
      const follow_btn = f.querySelector('.follow-btn');
      const cancel = f.querySelector('.cancel');

      follow_btn.addEventListener('click',()=>{
        if (follow_btn.classList.contains('unlock')){
          notScroll();
          f.querySelector('.follow-modal').classList.remove('hidden');
          document.getElementById('mask').classList.remove('hidden');
        } 

      })
      cancel.addEventListener('click', ()=>{
        $('body').attr('style', '');
        $('header').attr('style', '');
        $('html, body').prop({scrollTop: posi});
        f.querySelector('.follow-modal').classList.add('hidden');
        document.getElementById('mask').classList.add('hidden');
        
      });
    })





    $("#follow-button_<%= @user.id %>").html("<%= j(render 'users/follow-button', user: @user) %>");
    $("#follow-button_<%= @user.id %>").html("<%= j(render 'users/follow-button', user: @user) %>");

  });
    


</script>
