<% provide(:title, "Feel") %>
<%= javascript_include_tag "slider.js" %>


<div class="genre-top-section" data-turbolinks="false">
  <% @feel.each_with_index do |f, index| %>
    <div class="hero">
      <h3 style="display:inline-block;"><%= f.feel_title %></h3>
       <%= link_to ">>",feel_page_path(f) ,style: "display:inline-block; color:black;" %>
      <div class="swiper" id="swiper<%= index %>">
        <ul class="swiper-wrapper swipes">
          <% f.events.order("RANDOM()").limit(6).each do |event| %>
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"><%= event.event_title %><%= event.user.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

