<% provide(:title, "Feel_page") %>



<div class="genre-top-section">
  <h3 class="g-page-title"><%= @feel.feel_title %></h3>
  <% if @event.count == 0 %>
    <p>No event</p>
  <% elsif @event.count <= 6 %>
    now less than 6
    <%= render 'home/event', id: "swiper0",event: @event[0..5] %>
  <% elsif @event.count <= 12 %>
    now less than 12
    <%= render 'home/event', id: "swiper0",event: @event[0..5] %>
    <%= render 'home/event', id: "swiper1",event: @event[6..11] %>
  <% else %>
    now is more than 12
    <%= render 'home/event', id: "swiper0",event: @event[0..5] %>
    <%= render 'home/event', id: "swiper1",event: @event[6..11] %>
    <%= render 'home/event', id: "swiper2",event: @event[12..17] %>
  <% end %>
</div>


<script data-turbolinks-eval="false">
  $(document).on('turbolinks:load', function() { 
    class HeroSliders {
      constructor(el) {
        this.el = el;
        this.swiper = this.__initSwiper();
      }

      __initSwiper() {
        return new Swiper(this.el, {
          loop: true,
          grabCursor: true,
          effect: 'slide',
          slidesPerView: 4.5,
          spaceBetween: 10,
          speed: 1000,
        });
      }

      start(options = {}) {
        options = Object.assign({
          delay: 5000,
          disableOnInteraction: false
        }, options);
        this.swiper.params.autoplay =
          options;
        this.swiper.autoplay.start();
      }
    }

    let lesson = document.getElementsByClassName("hero");

    if(lesson.length == 1){
      const hero0 = new HeroSliders('#swiper0');
      hero0.start();
    }else if(lesson.length == 2){
      const hero0 = new HeroSliders('#swiper0');
      hero0.start();
      const hero1 = new HeroSliders('#swiper1');
      hero1.start();
    }else{
      const hero0 = new HeroSliders('#swiper0');
      hero0.start();
      const hero1 = new HeroSliders('#swiper1');
      hero1.start();
      const hero2 = new HeroSliders('#swiper2');
      hero2.start();
    }

  });
</script>