<% provide(:title, "Genre") %>
<%= javascript_include_tag "slider.js" %> 


<div class="genre-top-section">
  <% @genre.each_with_index do |g, index| %>
    <div class="hero" data-turbolinks="false">
      <h3 style="display:inline-block;"><%= g.genre_title %></h3>
      <%= link_to ">>",genre_page_path(g) ,style: "display:inline-block; color:black;" %>
      <div class="swiper" id="swiper<%= index %>">
        <ul class="swiper-wrapper swipes">
          <% @event.where(genre_id: g).order("RANDOM()").limit(6).each do |event| %>
          <li class="swiper-slide" alt=""><img src="assets/catmovie.png"><%= event.event_title %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
