

<div class="top-section">

<%= link_to  "go!",@REQUESTURI %>
<%= link_to  "go!!!!!!",@REQUESTURI2 %>
  <% if params[:code] %>
    <%= params[:code] %>
  <% end %>
  <% if params[:authorization_code] %>
    <%= params[:authorization_code] %>
  <% end %>
  
  <div class="content-text">


    <p><span style=
      "font-family: 'Chewy', cursive;
        color:white">I'm here!</span>&nbsp;は&nbsp;<span style="color: yellow;">誰でも</span></p>
    <p><span style="color: yellow;">誰とでも</span>繋がれる</p>
    <p><span>マッチング</span>ツールです。</p>
  </div>
  <div class="top-img">
    <img src="/assets/pc-woman.jpg">
  </div>
</div>
<div class="anime-section" data-turbolinks="false">
  <ul>
    <li class="lesson"><img src="/assets/lesson.png"></li>
    <li class="catmovie"><img src="/assets/catmovie.png"></li>
    <li class="guitergirl"><img src="/assets/guitergirl.png"></li>
    <li class="videochat"><img src="/assets/videochat.png"></li>
    <li class="pc-man"><img src="/assets/pc-man.png"></li>
    <li class="dance"><img src="/assets/dance.png"></li>
    <li class="exacize"><img src="/assets/exacize.png"></li>
    <% if logged_in? %>
        <li class="load">
      <%= link_to genre_path do %>
          <img src="/assets/load.png">
          <p class="play">使ってみる</p>
      <% end %>
        </li>
    <% else %>
        <li class="load" id="load" 
        <%# onclick="LoginPage()" %>
        ><img src="/assets/load.png">
          <p class="play">使ってみる</p>
        </li>
    <% end %>
  </ul>

</div>
<div class="pick-section" data-turbolinks="false">
  <div class="pick-event"><p>Pick Your Event</p></div>
  <div class="pick-event-right"><p>May your world expand.</p></div>
  <div class="t-body1-left">
    <dl>
      <%= link_to genre_page_path(1) do %>
        <dt><img src="/assets/talk.png"></dt>
        <dd>Talk</dd>
      <% end %>
    </dl>
  </div>
  <div class="t-body1-right">
    <dl>
      <%= link_to genre_page_path(2) do %>
        <dt><img src="/assets/learning.png"></dt>
        <dd>Learning</dd>
      <% end %>
    </dl>
  </div>
  <div class="t-body2-left">
    <dl>
      <%= link_to genre_page_path(3) do %>
        <dt><img src="/assets/game.png"></dt>
        <dd>Game</dd>
      <% end %>
    </dl>
  </div>
  <div class="t-body2-right">
    <dl>
      <%= link_to genre_page_path(4) do %>
        <dt><img src="/assets/guitergirl.png"></dt>
        <dd>Music</dd>
      <% end %>
    </dl>
  </div>
  <div class="t-body3-left">
    <dl>
      <%= link_to genre_page_path(5) do %>
        <dt><img src="/assets/culture.png"></dt>
        <dd>Culture</dd>
      <% end %>
    </dl>
  </div>
  <div class="t-body3-right">
    <dl>
      <%= link_to genre_page_path(6) do %>
        <dt><img src="/assets/exacize.png"></dt>
        <dd>Exercise</dd>
      <% end %>
    </dl>
  </div>
  <div class="btn-left">
    <%= link_to genre_path do %>
      <button>ジャンルで探す</button>
    <% end %>
  </div>
  <div class="btn-right">
    <%= link_to feel_path do %>
      <button>気分で探す</button>
    <% end %>
  </div>
</div>
<div class="btn-area">
</div>
<script>

$(document).on('turbolinks:load', function(){
  const targets = document.querySelectorAll('div.anime-section li');
  const options = {
    root: null,
    threshold:1,
  };

  const observer = new IntersectionObserver(callback ,options);


  function callback(entries, obs){
    
    entries.forEach(entry => {

      if (!entry.isIntersecting){
        return;
      }

    entry.target.classList.add('appear');
    obs.unobserve(entry.target);
  });
  }

  targets.forEach(target => {
    observer.observe(target);
  });

});
</script>


