<div class="event-title-bar">




  <div>
    <p><%= @event.date %></p>
    <h2><%= @event.event_title %></h2>
    <% if current_user.id == @event.user.id %>
      <%= link_to "/users/#{@event.user.id}" do %>
        <div class="event-user-plofile">
          <% if @event.user.image_name.size == 0 %>
            <img src="/assets/catman" class="event-plofile-img">
          <% else %>
            <img src="<%= @event.user.image_name %>" class="event-plofile-img">
          <% end %>
          <p><%= @event.user.name %></p>
        </div>
      <% end %>
    <% else %>
      <%= link_to room_path(current_user.id, @event.user.id) do %>
        <div class="event-user-plofile">
          <% if @event.user.image_name.size == 0 %>
            <img src="/assets/catman" class="event-plofile-img">
          <% else %>
            <img src="<%= @event.user.image_name %>" class="event-plofile-img">
          <% end %>
          <p><%= @event.user.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="event-title-right">
    <% if current_user.id == @event.user_id %>
      <% if @event.publish %>
        <%= link_to event_path(@event.id, event:{publish: false}), method: :put do %>
          <button class="btn-can">取下げ</button>
        <% end %>
      <% else %>
        <%= link_to update_event_path do %>
          <button class="btn-edit">編集</button>
        <% end %>
        <%= link_to event_path(@event.id, event: {publish: true}), method: :put do %>
            <button class="btn-res">掲載</button>
        <% end %>
      <% end %>
    <% else %>
      <button class="btn-tog"><%= render 'schedules/schedule', event: @event %></button>
    <% end %>
   
 
  </div>
</div>
<div id="fixed-navbar">
  <div class="event-navbar">
    <div>
      <h2><%= @event.event_title %></h2>
      <p><%= @event.date %></p>
    </div>
    <div class="edit-link">
      <% if current_user.id == @event.user_id %>
        <% if @event.publish %>
          <%= link_to event_path(@event.id, event:{publish: false}), method: :put do %>
            <button class="btn-can">取下げ</button>
          <% end %>
        <% else %>
          <%= link_to update_event_path do %>
            <button class="btn-edit">編集</button>
          <% end %>
          <%= link_to event_path(@event.id, event: {publish: true}), method: :put do %>
              <button class="btn-res">掲載</button>
          <% end %>
        <% end %>
      <% else %>
        <button class="btn-tog"><%= render 'schedules/schedule', event: @event %></button>
      <% end %>
    </div>
  </div>
</div>

<div class="event-contents-section">
  <div class="event-top-section">
    <div class="event-content-left">
      <div class="event-image">
        <% if @event.event_image_name.size == 0 %>
          <%= image_tag "/assets/catman" %>
        <% else %>
          <%= image_tag @event.event_image_name.url %>
        <% end %>
      </div>
      <div class="event-text">
        <h3>詳細</h3>
        <p><%= safe_join(@event.content.to_s.split("\n"),tag(:br)) %></p>
      </div>
      
    </div>

    <div id="event-nav-right">
      <div class="event-content-right">
        <% unless @event.publish %>
          <div class="event-user-block">
            <span>サムネイルプレビュー</span>
            <div class="event-thumbnail">
              <div class="event-thumb-image">
                <% if @event.event_image_name.size == 0 %>
                  <%= image_tag "/assets/catman" %>
                <% else %>
                  <%= image_tag @event.event_image_name.url %>
                <% end %>
              </div>
              <div class="event-thumb-text">
                <h3><%= @event.event_title %></h2>
                <p><%= @event.content %></p>
              </div>
            </div> 
          </div>
        <% end %>

        <div class="event-user-block">
          <div class="event-user-plofile">
            <% if @event.user.image_name.size == 0 %>
              <img src="/assets/catman" class="event-plofile-img">
            <% else %>
              <img src="<%= @event.user.image_name %>" class="event-plofile-img">
            <% end %>
            <p><%= @event.user.name %></p>
            
            <% unless @event.user == current_user %>
              <% if current_user.following?(@event.user) %>
                <div class="unlock-btn">フォロー解除</div>
              <% else %>
                <%= link_to follow_path(@event.user), method: :post, remote: true do %> 
                  <div class="follow-btn">フォローする</div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="event-data-block">
          <div>
            <p class="genre_name">ジャンル:<%= @event.genre.genre_title %></p>
            <% if @event.feel.present? %>
              <p class="feel_name">気分:<%= @event.feel.feel_title %></p>
            <% end %>
          </div>
          <p>日時:<%= @event.date %></p>
          <p>場所:<%= @event.place %></p>
          <%= link_to "場所をgoogle mapで検索>>","https://www.google.co.jp/maps/search/#{@event.place}", target: :_blank, rel: "noopener noreferrer" %>
          <% if @event.people.nil? %>
            <p>人数：制限なし</p>
          <% else %>
            <p>人数：<%= @event.people %>人まで</p>
          <% end %>
            
        </div>
      </div>
    </div>
  </div>
  <div class="event-body-section">
    <div class="schedule-section">
      <p>参加者一覧</p>
      <div class="scheduling_users">
        <% if @scheduling_users.count == 0 %>
          <p class="notgest">参加者はいません。</p>
        <% else %>
          <%= render partial: "events/users", collection: @scheduling_users %>
        <% end %>
      </div>
    </div>

    <div class="event-operation">
      <% if current_user.id == @event.user_id %>
        <button id="event-delete">イベント削除</button>
      <% end %>
      <% if current_user.id == @event.user_id %>
        <div id="event-delete-modal" class="hidden" >
          <p>本当に削除してもよろしいですか？</p>
          <%= link_to "/events/#{@event.id}", method: :DELETE do %>
            <button>削除</button>
          <% end %>
          <button id="delete-modal-exit">戻る</button>
        </div>
        <div id="delete-modal-mask" class="hidden"></div>
      <% end %>
    </div>
  </div>
  <div class="event-bottom-section">
    <p class="bottom-info">同じユーザーの他のイベント</p>
      <div class="other-events">
        <% @user_events.each do |event| %>
          <%= link_to "/events/#{event.id}" do %>
            <%= render 'home/event_thumbnail',event: event %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>

<div id="emask" class="hidden">
  <div class="follow-modal hidden">
    <p><%= @event.user.name %>さんのフォローを解除しますか？</p>
    <%= link_to unfollow_path(@event.user), method: :post, remote: true do %> 
      <div class="modal-btn">フォロー解除</div>
    <% end %>
    <div class="modal-btn cancel">キャンセル</div>
  </div>
</div>



<script>

  $(document).on('turbolinks:load', function(){
    const unlock_btn = document.querySelector('.unlock-btn');
    const cancel = document.querySelector('.cancel');
    if(unlock_btn){
      unlock_btn.addEventListener('click',()=>{
        notScroll();
        document.querySelector('.follow-modal').classList.remove('hidden');
        document.getElementById('emask').classList.remove('hidden');
      });
    }
    if(cancel){
      cancel.addEventListener('click', ()=>{
        $('body').attr('style', '');
        $('header').attr('style', '');
        $('html, body').prop({scrollTop: posi});
        document.querySelector('.follow-modal').classList.add('hidden');
        document.getElementById('emask').classList.add('hidden');
      });
    }
  });


function FixedVar() {
  let scroll = $(window).scrollTop();
  // console.log(scroll);
  if (scroll >= 180){//headerの高さ以上になったら
      $('#fixed-navbar').addClass('varopen');
      // $('.event-content-right').addClass('fixed');
    }else{//それ以外は
      $('#fixed-navbar').removeClass('varopen');
    }
}
$(window).scroll(function () {
  FixedVar();/* スクロール途中からヘッダーを出現させる関数を呼ぶ*/
});

// ページが読み込まれたらすぐに動かしたい場合の記述
$(window).on('load', function () {
  FixedVar();/* スクロール途中からヘッダーを出現させる関数を呼ぶ*/
});


$('#event-delete').click(function(){
  $('#event-delete-modal').removeClass('hidden');
  $('#delete-modal-mask').removeClass('hidden');
  notScroll();
});
$('#delete-modal-exit').click(function(){
  $('#event-delete-modal').addClass('hidden');
  $('#delete-modal-mask').addClass('hidden');
  $('body').attr('style', '');
  $('header').attr('style', '');
  $('html, body').prop({scrollTop: posi});
});


</script>