<%# <div class="rooms">
  <% current_user.rooms.each do |room| % >
    <div class="room">
      <div class="room-name">
        <% @another_user = (room.users.where.not(id: current_user.id).to_a)[0] %/>
        <%= link_to @another_user.name, room_messages_path(room) %/>
      </div>
      <div class="delete-room">
        <%= link_to "×", room_path(room), method: :delete %/>
      </div>
    </div>
  <% end %/>

</div> %>


<div class="my-page-section">
  <div class="profile">
    <div class="profile-img">
      <% if @user.image_name.size == 0 %>
        <%= image_tag "/assets/catman" %>
      <% else %>
        <%= image_tag @user.image_name.url %>
      <% end %>
    </div>
    <p><%= @user.name %></p>
    <div >
      <p>フォロー数: <%= @user.followings.count %> フォロワー数: <%= @user.followers.count %></p>
    </div>
    <div class="profile-coment">
      <% if @user.comment == nil || @user.comment == "" %>
        <span>プロフィールコメント<span>
      <% else %>
        <p class="profile-comment-text">
          <%= @user.comment %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="event-display">
    <div class="event-container">
      <ul class="tab-menu">
        <%# <li><a class="active" data-id="event">フォロー開催中</a></li> %>
        <li><a data-id="schedule">メッセージ</a></li>
      </ul>
      <%# <section class="content active" id="event">
        開催中のイベントはありません
      </section> %>
      <section class="content active" id="schedule">

        <div class="messages">

          <%= render partial: 'main_chat' %>

        </div>
        <%# <% if @user.events.count == 0 %　>
          登録されているスケジュールはありません
        <% else %　>
          <% @user.events.each do |e| %　>
            <div class="follower_view">
              <div class="follower">
                <%= link_to "/events/#{e.id}" do %　>
                  <p><%= e.event_title % ></p>
                  <p><%= e.date % ></p>
                <% end % >
            
              </div>
            </div>
            <% end % >
          <% end % > %>
      </section>
    </div>
  </div>
</div>