<%= javascript_include_tag "main.js" %> 

<header>
  <section id="modal" class="hidden">
    <div class="container">
      <ul class="modal-ul">
        <li class="login-li">
          <div style="height:26px;">
            <p class="form-error" style="color:red; text-align:center;">
              emailもしくはpasswordに誤りがあります
            </p>
          </div>
          <div class="login_container">
            <input type="text" size="25" name="session[email]" id="user_email" placeholder="EMAIL">
            <input type="text" size="25" name="session[password]" id ="user_password" placeholder="PASSWORD" >
            <input type="submit" id="btn_submit" name="commit" value="log in!" data-disable-with="Create User">
          </div>
          <p class="signup-text">新規登録は<span onclick="SignUpPage()"><a>コチラ</a></span></p>
        </li>
        <li class="sign-up-li">
          <p>Sign Up!</p>
          <form class="login_container"  data-remote="true">
            <input type="text" size="25" placeholder="NAME" name="user[name]" id="user_new_name" >
            <input type="text" size="25" placeholder="EMAIL" name="user[email]" id="user_new_email">
            <input type="password" size="25" placeholder="PASSWORD" name="user[password]" id="user_new_password" autocomplete="off">
            <input type="password" size="25" placeholder="PASSWORD" name="user[password_confirmation]" id="user_new_passconfi" autocomplete="off">
            <input type="submit"  value="sign up!" id="signup-btn" data-disable-with="Signup User">
          </form>
        </li>
        <li id="signup-about">
          <div class="list-area">
            <h2><img src="/assets/logo.png"></h2>
            <p>は誰でも&nbsp;誰とでも繋がれるコミュニティツールです!</p>
          </div>
        </li>
        <li id="signup-about2">
          <div class="list-area2">
            <h2><img src="/assets/logo.png"></h2>
            <p>を使って、レッスンに参加したり、<br>
              自分の演奏を披露したりすることが出来ます。
            </p>
            <p>
              また、新たなコミュニティを通じて自身の可能性を<br>
              見出すこともできるかも知れません。
            </p>
            <p>
              チャットや音声で、ただ会話を楽しむ事も<br>
              それはあなたのライフスタイルの一部になってくれるでしょう。
            </p>
          </div>
        </li>
        <li id="signup-about3">
          <div class="list-area3">
            <h2><img src="/assets/logo.png"></h2>
            <p>を通じて、</p>
            <p>あなたの世界が少しでも広がる事を</p>
            <p>願っています。</p>
            <%= link_to root_path do %>
            <button class="btn-go" id="btn-go">Go!</button>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <button id="prev" onclick="Prev()" class="hidden">←戻る</button>
    <button id="next" onclick="Next()" class="hidden">進む→</button>
    <div id="close">閉じる</div>
  </section>
  <div id="mask" class="hidden" data-modal="overlay"></div>
  
  <div class="status_bar">
    <form method="get" action="#" class="search_container">
      <input type="text" size="25" placeholder="キーワード検索">
      <input type="submit"  value="&#xf002">
    </form>
    <div class="status_bar_right" id="status_bar_right">
      <% if logged_in? %>
        <%= link_to image_tag("/assets/login.png"), "/users/#{current_user.id}" ,class:"acount-logo","data-turbolinks":false %>
      <% else %>
        <div class="acount-logo" onclick="LoginPage()" data-turbolinks="false" ><%= image_tag("/assets/login.png") %></div>
      <% end %>
      <% if logged_in? %>
        <span><%= link_to "Log out", logout_path, method: :delete ,class:"loginout" %></span>
      <% else %>
        <span onclick="LoginPage()" data-turbolinks="false"><a class="loginout">Log in</a></span>
      <% end %>
      <ul>
        <li><%= link_to image_tag("/assets/facebook.png"),'https://www.facebook.com/' %></li>
        <li><%= link_to image_tag("/assets/Messenger.png"),'https://www.facebook.com/messenger/' %></li>
        <li><%= link_to image_tag("/assets/insta.png"),'https://www.instagram.com/' %></li>
        <li><%= link_to image_tag("/assets/twitter.png"),'https://www.twitter.com/' %></li>
      </ul>
    </div>
  </div>
  <div class="global-menu" id="global-menu">
    <h1 class="main-logo" data-turbolinks="false"><%= link_to image_tag("/assets/logo.png"), root_path %></h1>
    <div class="menu">
      <ul data-turbolinks="false">
        <li data-turbolinks="false"><%= link_to "about", about_path %></li>
        <li data-turbolinks="false"><%= link_to "ジャンル別", genre_path %></li>
        <li data-turbolinks="false"><%= link_to "気分別", feel_path %></li>
        <% if logged_in? %>
          <li class="hov-menu"><a>マイメニュー<span>▼</span></a>
            <ul>
              <li><%= link_to "マイページ" ,"/users/#{current_user.id}" %></li>
              <li><%= link_to "プロフィール編集" ,"/users/#{current_user.id}/edit" %></li>
              <li id="eventModalUp" ><a>イベント登録</a></li>
            </ul>
          </li>
        <% else %>
          <li id="signup-btn" onclick="SignUpPage()"><a id="signup">新規登録</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="event-modal" id="event-modal" data-modal="content">
    <h3>イベント情報入力</h3>
      <%= form_with url: event_confirm_path ,class: "event_container" do |f| %>
        <div class="err_text" id="err_textbox"></div>
        <div>
          <%= f.label :event_title, "タイトル" %>
          <%= f.text_field :event_title, :placeholder => "ギター弾く19時まで", id: :e_title %>
        </div>
        <div class="err_text" id="err_textarea"></div>
        <div>
          <%= f.label :content, "メモ" %>
          <%= f.text_area :content, :placeholder => "これからなんとなくギター弾きます。暇人集まれー。", size: "30x5", id: :e_memo %>
        </div>
        <div class="err_text" id="err_category"></div>
        <div>
          <%= f.label :genre_id ,'ジャンル'%>
          <%= f.select :genre_id, {'aaa':1,'bbb':2,'ccc':3,'ddd':4,'eee':5,'fff':6}, { include_blank: '選択してください'} %>
        </div>
        <div>
          <%= f.label :feel_id ,'気分'%>
          <%= f.select :feel_id, {'aaa':1,'bbb':2,'ccc':3,'ddd':4,'eee':5,'fff':6}, { include_blank: '選択してください'} %>
        </div>
        <div>
          <label>日時</label>
          <label><%= f.radio_button :date ,0,id: :e_play ,checked: true %>今すぐ</label>
          <label><%= f.radio_button :date ,1,id: :e_date %>時間指定</label>
        <div class="err_text" id="err_radio_item"></div>
          <div>
            <%= f.label :created_at_date, '登録日', class: 'control-label' %>
            <%= f.date_field :created_at_date, class: 'form-control' , disabled: true %>

            <%= f.label :created_at_time, '登録時間' %>
            <%= f.time_field :created_at_time, class: 'form-control' , disabled: true %>
          </div>
        </div>
      
        <div>
          <label>方法</label>
          <label><%= f.radio_button :line ,0,id: :online, checked: true %>オンライン</label>
          <label><%= f.radio_button :line ,1,id: :offline %>オフライン</label>
        </div>
        <div class="err_text" id="err_radio_item2"></div>

        <div>
          <%= f.label :place ,"場所" %>
          <%= f.text_field :place, :placeholder => "江戸川区西葛西", id: :place , disabled: true %>
        </div>
        <div class="err_text" id="err_people"></div>
        <div>
          <%= f.label :people,"人数" %>
          <%= f.text_field :people, id: :people %>
          <span>※空欄で制限なし</span>
        </div>
        <%# <div class="btn">
	        <a href="javascript:void(0)" onclick="do_submit(this);" class="btn_transmit">送信</a>
        </div> %>
        <input type="submit" value="イベント登録" onclick="do_submit(this);return false;" id="event_confirm">
      <% end %>
        <%# <div>
        <label for="regularly">定期開催</label>
        <input id="regularly" type="checkbox">
      </div> %>
    </form>
    <div id="event-close">
      閉じる
    </div>
  </div>



  <section id="confi-modal" class="hidden" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="confi-container">
      <p>以下の内容で登録します。<br>
        よろしいですか？
      </p>
    </div>
    <button id="event_create"></button>
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-body">
        <div>
          <p class="text-muted">タイトル</p>
          <p class="px-2" id="modalTitle"></p>
        </div>
        <div>
          <p class="text-muted">メモ</p>
          <p class="px-2" id="modalBody"></p>
        </div>
        <div>
          <p class="text-muted">ジャンル</p>
          <p class="px-2" id="modalGenre"></p>
        </div>
        <div>
          <p class="text-muted">気分</p>
          <p class="px-2" id="modalFeel"></p>
        </div>
        <div>
          <p class="text-muted">日にち</p>
          <p class="px-2" id="modalDate"></p>
          <div class="px-2" id="modalDateContent">
          <p id="modalFullDate"></p>
          <p id="modalTime"></p>
          </div>
        </div>
        <div>
          <p class="text-muted">場所</p>
          <p class="px-2" id="modalPlace"></p>
        </div>
        <div>
          <p class="text-muted">人数</p>
          <p class="px-2" id="modalPeople"></p>
        </div>
      </div>
    </div>
    <div id="confi-close" onclick="confiClose()">戻る</div>
  </section>
  <div id="confi-mask" class="hidden"></div>
</header>

<script>

  // イベントタイトルチェック
  function check_e_title(str){
    $("#err_textbox p").remove();
    let _result = true;
    let _e_title = $.trim(str);
    console.log("unko");
    if(_e_title.match(/^[ \r\n\t]*$/)){
      $("#err_textbox").append("<p><i class=\"fa fa-exclamation-triangle\"></i>タイトルを入力してください。</p>");
      console.log("tinko");
      _result = false;
    }else if(_e_title.length > 50){
      $("#err_textbox").append("<p><i class=\"fa fa-exclamation-triangle\"></i>タイトルは50文字以内で入力してください。</p>");
      _result = false;
    }
    return _result;
  }

  // イベントコンテントチェック
  function check_e_memo(str){
    $("#err_textarea p").remove();
    let _result = true;
    let _e_memo = $.trim(str);
    if(_e_memo.length == 0){
      $("#err_textarea").append("<p><i class=\"fa fa-exclamation-triangle\"></i>テキストエリアを入力してください。</p>");
      _result = false;
    }else if(_e_memo.length > 1000){
      $("#err_textarea").append("<p><i class=\"fa fa-exclamation-triangle\"></i>テキストエリアは1000文字以内で入力してください。</p>");
      _result = false;
    }
    return _result;
  }

  // ジャンルセレクトチェック
  function check_genre_id(id){
    $("#err_category p").remove();
    let _result = true;
    let _id = id;
    if(!_id.match(/^[0-9]+$/)){
      $("#err_category").append("<p><i class=\"fa fa-exclamation-triangle\"></i>ジャンルを選択してください。</p>");
      _result = false;
    }
    return _result;
  }

  // 日時指定チェック
  function check_radio_item(type){
    $("#err_radio_item p").remove();
    let _result = true;
    let _type = type;
    let at_date = $('#created_at_date').val();
    let at_time = $('#created_at_time').val();
    let modal = $('#confi-modal');

    if(_type == undefined || !_type.match(/^[0]+$/)){
      if(at_date.length == 0 || at_time.length == 0 ){
        $("#err_radio_item").append("<p><i class=\"fa fa-exclamation-triangle\"></i>日付・時刻を入力してください</p>");
        _result = false;
      }
      modal.find('#modalDate').css("display", "none");
      modal.find('#modalDateContent').css("display", "flex");
    } else {
      const date = "今すぐ";
      modal.find('#modalDate').text(date);
      modal.find('#modalDate').css("display", "block");
      modal.find('#modalDateContent').css("display", "none");
    }
    return _result;
  }

  // 方法チェック
  function check_radio_item2(type){
    $("#err_radio_item2 p").remove();
    let _result = true;
    let _type = type;
    let at_place = $('#place').val();
    let modal = $('#confi-modal');

    if(_type == undefined || !_type.match(/^[0]+$/)){
      if(at_place.length == 0 ){
        $("#err_radio_item2").append("<p><i class=\"fa fa-exclamation-triangle\"></i>場所を入力してください</p>");
        _result = false;
      }
      const place = $('#place').val();
      modal.find('#modalPlace').text(place);
    } else {
      const place = "オンライン";
      modal.find('#modalPlace').text(place);
    }
    return _result;
  }

  // 人数半角数字チェック
  function check_people(int){
    $("#err_people p").remove();
    let _result = true;
    let _int = int;
    console.log(_int);
    if(_int.length != 0 && !_int.match(/^[0-9]+$/)){
      $("#err_people").append("<p><i class=\"fa fa-exclamation-triangle\"></i>半角数字で入力してください。</p>");
      _result = false;
    }
    return _result;
  }


  function do_check() {
    let result = true;
    let check_result = true;

    // エラーメッセージ初期化
    $(".err_text").empty();

    // テキストボックス
    let _e_title = $("#e_title").val();
    console.log(_e_title);
    result = check_e_title(_e_title);
    if(!result){
      check_result = result;
    }

    // セレクトボックス
    let _genre_id = $("#genre_id").val();
    result = check_genre_id(_genre_id);
    if(!result){
      check_result = result;
    }

    // 人数
    let _people = $("#people").val();
    result = check_people(_people);
    if(!result){
      check_result = result;
    }

    // ラジオボタン
    let _radio_item = $("input[name='date']:checked").val();
    result = check_radio_item(_radio_item);
    if(!result){
      check_result = result;
    }
    // ラジオボタン方法
    let _radio_item2 = $("input[name='line']:checked").val();
    result = check_radio_item2(_radio_item2);
    if(!result){
      check_result = result;
    }

    // テキストエリア
    let _e_memo = $("#e_memo").val();
    result = check_e_memo(_e_memo);
    if(!result){
      check_result = result;
    }

    if(!result){
      check_result = result;
    }

    return check_result;
  }

  function do_submit(btn){
    $(btn).css("pointer-events", "none");
    let result = do_check();

    if(result){
      goEvent();
      $(btn).css("pointer-events", "inherit");
    }else{
      $(btn).css("pointer-events", "inherit");
    }
  }




  $(function(){
    $( 'input[name="date"]:radio').change(function(){
      let radioval = $(this).val();
      if(radioval == 1){
        $('#created_at_date').removeAttr('disabled');
        $('#created_at_time').removeAttr('disabled');
      } else {
        $('#created_at_date').attr('disabled','disabled');
        $('#created_at_time').attr('disabled','disabled');
      }
    });
  });

  $(function(){
    $( 'input[name="line"]:radio').change(function(){
      let radioval = $(this).val();
      if(radioval == 1){
        $('#place').removeAttr('disabled');
      } else {
        $('#place').attr('disabled','disabled');
      }
    });
  });

  $(function(){
    $('#event_confirm').on('click',function(){
      let title = $('#e_title').val();
      let body = $('#e_memo').val();
      let modal = $('#confi-modal');

      const createdDate = new Date($('#created_at_date').val());
      let year = createdDate.getFullYear().toString();
			let mm = (createdDate.getMonth() + 1).toString();
			let dd = createdDate.getDate().toString();
			let yyyymmdd = year + '年' + (mm[1]?mm:"0"+mm[0]) + '月' + (dd[1]?dd:"0"+dd[0]) + '日';
      const createdTime = $('#created_at_time').val();
      const people = $('#people').val();
      // const genre = $('#genre_id').val();
      const genreText = $('#genre_id option:selected').text();
      const feel = $('#feel_id').val();
      
      if (feel.length == 0){
        const feelText = "指定なし";
        modal.find('#modalFeel').text(feelText);
      } else {
        const feelText = $('#feel_id option:selected').text();
        modal.find('#modalFeel').text(feelText);
      }
        

      modal.find('#modalTitle').text(title);
      modal.find('#modalBody').text(body);
      modal.find('#modalFullDate').text(yyyymmdd);
      modal.find('#modalTime').text(createdTime);
      modal.find('#modalPeople').text(people);
      modal.find('#modalGenre').text(genreText);
      

    });
  });
  
  // イベント登録
  $("#event_create").click(function(){
    const eveTitle = $("#modalTitle").text();
    const eveContent = $("#modalBody").text();
    const eveGenre = $('#genre_id').val();
    const eveFeel = $('#feel_id').val();
    // 日程どうする
    const evePlace = $('#modalPlace').text();
    const evePeople = $("#modalPeople").text();
    console.log(evePeople); 
    $.ajax({
      type: 'POST',
      url: "/events/create",
      data: {event_title: eveTitle, content: eveContent, genre_id: eveGenre, feel_id: eveFeel, place: evePlace,people: evePeople},
      dataType: "json",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRF-Token", $('meta[name="csrf-token"]').attr('content'))
      },
    }).done(function(data){
      console.log(data);
    });
  });


  $("#btn_submit").click(function(){
    const email = $("#user_email").val();
    const password = $("#user_password").val();
    $.ajax({
      type: 'POST', //post,get
      url: "/sessions/create",
      data: {email: email, password: password},//user[name]
      dataType: "json",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRF-Token", $('meta[name="csrf-token"]').attr('content'))
      },
    }).done(function(data){
      console.log(data.error);
      if (data.message === "error"){
        console.log("komatta");
        $(".form-error").addClass('error-message');
      } else if (data.message === "success"){
        window.location.replace('<%= root_path %>');
      } 
    });
      // console.log($("#user_name").val());
  });



  $("#signup-btn").click(function(){
    const name = $("#user_new_name").val();
    const email = $("#user_new_email").val();
    const password = $("#user_new_password").val();
    const passconfi = $("#user_new_passconfi").val();
    $.ajax({
      type: 'POST', //post,get
      url: "/users/create",
      data: {name: name, email: email, password: password, password_confirmation: passconfi},//user[name]
      dataType: "json",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRF-Token", $('meta[name="csrf-token"]').attr('content'))
      },
    }).done(function(data){
      if (data.message === "success"){
        // console.log(data);
        sessionStorage.setItem('occupation','new_login');
        
        window.location.replace('<%= root_path %>');
       
        
      } else {
        console.log(data);
        alert(data.error);
      } 
      //alert(data.user.name + "で登録されました！")
    });
    // console.log($("#user_name").val());

  });
  window.addEventListener('load',()=>{
    if (sessionStorage.getItem('occupation') === 'new_login'){
      ModalApp();
      SignUpGaid();
      sessionStorage.removeItem('occupation')
    }
  });
</script>