<%= javascript_include_tag "main.js" %> 

<header>
  <section id="modal" class="hidden">
    <div class="container">
      <ul class="modal-ul">
        <li class="login-li">
          <div style="height:26px;">
            <p class="form-error" style="color:red; text-align:center;">
              emailもしくはpasswordに誤りがあります
            </p>
          </div>
          <div class="login_container">
            <input type="text" size="25" name="session[email]" id="user_email" placeholder="EMAIL">
            <input type="text" size="25" name="session[password]" id ="user_password" placeholder="PASSWORD" >
            <input type="submit" id="btn_submit" name="commit" value="log in!" data-disable-with="Create User">
          </div>
          <p class="signup-text">新規登録は<span onclick="SignUpPage()"><a>コチラ</a></span></p>
        </li>
        <li class="sign-up-li">
          <p>Sign Up!</p>
          <form class="login_container"  data-remote="true">
            <input type="text" size="25" placeholder="NAME" name="user[name]" id="user_new_name" >
            <input type="text" size="25" placeholder="EMAIL" name="user[email]" id="user_new_email">
            <input type="password" size="25" placeholder="PASSWORD" name="user[password]" id="user_new_password" autocomplete="off">
            <input type="password" size="25" placeholder="PASSWORD" name="user[password_confirmation]" id="user_new_passconfi" autocomplete="off">
            <input type="submit"  value="sign up!" id="signup-btn" data-disable-with="Signup User">
          </form>
        </li>
        <li id="signup-about">
          <div class="list-area">
            <h2><img src="/assets/logo.png"></h2>
            <p>は誰でも&nbsp;誰とでも繋がれるマッチングツールです!</p>
          </div>
        </li>
        <li id="signup-about2">
          <div class="list-area2">
            <h2><img src="/assets/logo.png"></h2>
            <p>を使って、イベントを告知したり、<br>
              自分のスキルを求めている人と接点を持つ事ができます。
            </p>
            <p>
              また、新たなコミュニティを通じて自身の可能性を<br>
              見出すこともできるかも知れません。
            </p>
            <p>
              チャットや音声で、ただ会話を楽しむ事も<br>
              それはあなたのライフスタイルの一部になってくれるでしょう。
            </p>
          </div>
        </li>
        <li id="signup-about3">
          <div class="list-area3">
            <h2><img src="/assets/logo.png"></h2>
            <p>を通じて、</p>
            <p>あなたの世界が少しでも広がる事を</p>
            <p>願っています。</p>
            <%= link_to root_path do %>
            <button class="btn-go" id="btn-go">Go!</button>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <button id="prev" onclick="Prev()" class="hidden">←戻る</button>
    <button id="next" onclick="Next()" class="hidden">進む→</button>
    <div id="close">閉じる</div>
  </section>
  <div id="mask" class="hidden" data-modal="overlay"></div>
  
  <div class="status_bar">
    <%= form_tag(search_path_url,:method => 'get',class:"search_container",id:"search_container") do %>
      <%= text_field_tag :search ,'',size:25, placeholder:"キーワード検索" %>
      <input type="submit"  value="&#xf002">
    <% end %>


    <div class="status_bar_right" id="status_bar_right">
      <% if logged_in? %>
        <%= link_to image_tag("/assets/login.png"), "/users/#{current_user.id}" ,class:"acount-logo","data-turbolinks":false %>
      <% else %>
        <div class="acount-logo" id="acount-logo" 
 
         data-turbolinks="false" ><%= image_tag("/assets/login.png") %></div>
      <% end %>
      <% if logged_in? %>
        <span><%= link_to "Log out", logout_path, method: :delete ,class:"loginout" %></span>
      <% else %>
        <span id="loginout" 
        data-turbolinks="false"><a class="loginout">Log in</a></span>
      <% end %>
      <ul>
        <li><%= link_to image_tag("/assets/facebook.png"),'https://www.facebook.com/' %></li>
        <li><%= link_to image_tag("/assets/Messenger.png"),'https://www.facebook.com/messenger/' %></li>
        <li><%= link_to image_tag("/assets/insta.png"),'https://www.instagram.com/' %></li>
        <li><%= link_to image_tag("/assets/twitter.png"),'https://www.twitter.com/' %></li>
      </ul>
    </div>
  </div>
  <div class="global-menu" id="global-menu">
    <h1 class="main-logo" data-turbolinks="false"><%= link_to image_tag("/assets/logo.png"), root_path %></h1>
    <div class="menu">
      <ul data-turbolinks="false">
        <li data-turbolinks="false"><%= link_to "about", about_path %></li>
        <li data-turbolinks="false"><%= link_to "ジャンル別", genre_path %></li>
        <li data-turbolinks="false"><%= link_to "気分別", feel_path %></li>
        <% if logged_in? %>
          <li class="hov-menu"><a>マイメニュー<span>▼</span></a>
            <ul>
              <li><%= link_to "マイページ" ,"/users/#{current_user.id}" %></li>
              <li><%= link_to "プロフィール編集" ,"/users/#{current_user.id}/edit" %></li>
              <li id="eventModalUp" ><a>イベント登録</a></li>
            </ul>
          </li>
        <% else %>
          <li id="signup-btn"><a id="signup">新規登録</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="event-modal hidden" id="event-modal" data-modal="content">
    <h3>イベント情報入力</h3>
      <%= form_with url: event_confirm_path ,class: "event_container" do |f| %>
        <div class="err_text" id="err_textbox"></div>
        <div>
          <%= f.label :event_title, "タイトル" %>
          <%= f.text_field :event_title, :placeholder => "ギター弾く19時まで", id: :e_title %>
        </div>
        <div class="err_text" id="err_textarea"></div>
        <div>
          <%= f.label :content, "メモ" %>
          <%= f.text_area :content, :placeholder => "これからなんとなくギター弾きます。暇人集まれー。", size: "30x5", id: :e_memo %>
        </div>
        <div class="err_text" id="err_category"></div>
        <div>
          <%= f.label :genre_id ,'ジャンル'%>
          <%= f.select :genre_id, {
            'Talk':1,
            'Learning':2,
            'Game':3,
            'Music':4,
            'Culture':5,
            'Exercise':6},
            { include_blank: '選択してください'} %>
        </div>
        <div>
          <%= f.label :feel_id ,'気分'%>
          <%= f.select :feel_id, {
            'わいわい楽しく':1,
            '1 on 1':2,
            'イージーリスニング':3,
            '趣味を見つける':4,
            '学びを深める':5,
            '忍者モード':6 },
            { include_blank: '選択してください'} %>
        </div>
        <div>
          <label>日時</label>
          <label><%= f.radio_button :date ,0,id: :e_play ,checked: true %>今すぐ</label>
          <label><%= f.radio_button :date ,1,id: :e_date %>時間指定</label>
        <div class="err_text" id="err_radio_item"></div>
          <div>
            <%= f.label :created_at_date, '登録日', class: 'control-label' %>
            <%= f.date_field :created_at_date, class: 'form-control' , disabled: true %>

            <%= f.label :created_at_time, '登録時間' %>
            <%= f.time_field :created_at_time, class: 'form-control' , disabled: true %>
          </div>
        </div>
      
        <div>
          <label>方法</label>
          <label><%= f.radio_button :line ,0,id: :online, checked: true %>オンライン</label>
          <label><%= f.radio_button :line ,1,id: :offline %>オフライン</label>
        </div>
        <div class="err_text" id="err_radio_item2"></div>

        <div>
          <%= f.label :place ,"場所" %>
          <%= f.text_field :place, :placeholder => "江戸川区西葛西", id: :place , disabled: true %>
        </div>
        <div class="err_text" id="err_people"></div>
        <div>
          <%= f.label :people,"人数" %>
          <%= f.text_field :people, id: :people %>
          <span>※空欄で制限なし</span>
        </div>
        <%# <div class="btn">
	        <a href="javascript:void(0)" onclick="do_submit(this);" class="btn_transmit">送信</a>
        </div> %>
        <input type="submit" value="イベント登録" onclick="do_submit(this);return false;" id="event_confirm">
      <% end %>
    </form>
    <div id="event-close">
      閉じる
    </div>
  </div>





  <section id="confi-modal" class="hidden" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="confi-container">
      <p>以下の内容で登録します。<br>
        よろしいですか？
      </p>
    </div>
    <button id="event_create">登録</button>
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-body">
        <div>
          <p class="text-muted">タイトル</p>
          <p class="px-2" id="modalTitle"></p>
        </div>
        <div>
          <p class="text-muted">メモ</p>
          <p class="px-2" id="modalBody"></p>
        </div>
        <div>
          <p class="text-muted">ジャンル</p>
          <p class="px-2" id="modalGenre"></p>
        </div>
        <div>
          <p class="text-muted">気分</p>
          <p class="px-2" id="modalFeel"></p>
        </div>
        <div>
          <p class="text-muted">日時</p>
          <p class="px-2" id="modalDate"></p>
          <div class="px-2" id="modalDateContent">
          <p id="modalFullDate"></p>
          <p id="modalTime"></p>
          </div>
        </div>
        <div>
          <p class="text-muted">場所</p>
          <p class="px-2" id="modalPlace"></p>
        </div>
        <div>
          <p class="text-muted">人数</p>
          <p class="px-2" id="modalPeople"></p>
        </div>
      </div>
    </div>
    <div id="confi-close" onclick="confiClose()">戻る</div>
  </section>
  <div id="confi-mask" class="hidden"></div>
</header>



<%= render 'layouts/headerjs' %>
